<html>
    <head>
        <title>$!page_title</title>
    </head>
    <body>
        <h1>Spring MVC and Velocity</h1>

        $screen_content

        <hr />
        Copyright &copy 2014 lm
        
        <script type="text/javascript"  charset="utf-8"  src="/assets/js/lib/jquery/jquery-1.8.3.js"></script>
        $!js
    </body>
</html>